<h1> LOG IN</h1>

<% if @error%>
    <%=@error%>
<%end%>

<form action="/login" method="post">
    
    <label for="user_name"> Soccer Pseudo</label>
    <input type="text" name="user_name" id="">

    <label for="password"> Password:</label>
    <input type="password" name="password" id="">

        <input type="submit" value="Locker">
</form>