<h1> LOG IN</h1>

<nav>
<a href="/signup">
<button> Signup</button>
</a>
</nav>
</form>
<form action="/login" method="post">
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="user_name">Soccer Pseudo</label>
      <input type="text" class="form-control is-valid" name="user_name" id="user_name" value="" required>
    </div>
    
    <div class="col-md-6 mb-3">
      <label for="password">Password</label>
      <input type="password" class="form-control is-valid" name="password" id="" value="" required>
    </div>
  </div>
    <input type="submit" value="Locker">

  </form>

