<form action="/jerseys/<%= @jersey.id %>" method="POST">
  <input id="hidden" type="hidden" name="_method" value="PATCH">

  
  <label for="club_name"> Club Name: </label>
  <input type="text" name="club_name" id="club_name" value="<%=@jersey.club_name%>">

  <label for="number"> Number: </label>
  <input type="number" id="number" name="number" value="<%=@jersey.number%>" min="1" max="99" required>



  <input type="submit" value="Substitution">
</form>

