<h3> Welcome <%=current_user.user_name.capitalize%> To Your Soccer Jersey Locker </h3> 

<a href="Logout">
  <form action="/logout" method="post">
    <input type="hidden"  name= "_method"  value="DELETE">
    <input type="submit" value="Logout">
  </form>
</a>
</nav>

<nav>
  <a href='jerseys/new'> 
  <button> New Kit </button>
  </a>
</nav>


<%current_user.jerseys.each do |j|%>
<p> <a href= "/jerseys/<%= j.id%>"> 
 <button>
  <%=j.club_name%>
 </button>
 </a> </p>
<%end%>  

  






















