
<h2>Soccer Best Chompionships</h2>




<form action="/jerseys" method='post'>

<label for="club_name"> Club Name: </label>
<input type="text" name="club_name" id="club_name" value= "">

<label for="number"> Number: </label>
<input type="number" id="number" name="number" min="1" max="99">

<label for="league_name"> League Name: </label>
<select name='league_id'>
<% @leagues.each do |league| %>
<option value=<%= league.id %>><%= league.league_name %></option>
<% end %>
</select>

<input type="submit" value="Goal">

</form>

<p><%=@errors%></p>

<nav>
  <a href='/jerseys'>
  <button> My Collection</button> 
  </a>
</nav>

<a href="Logout">
  <form action="/logout" method="post">
    <input type="hidden"  name= "_method"  value="DELETE">
    <input type="submit" value="Logout">
  </form>
</a>
</nav>


