<nav>
  <a href='/jerseys'>
  <button> My Collection</button> 
  </a>
</nav>

<a href="Logout">
  <form action="/logout" method="post">
    <input type="hidden"  name= "_method"  value="DELETE">
    <input type="submit" value="Logout">
  </form>
</a>
</nav>


<p><%=@jersey.club_name%></p>
