<h1> Welcome To Jersey Locker</h1>

<%# <form action="">
<select  name= "league_id" id="">
<%League.all do |league|%>
<%# <option value="league.id"> league.league_name</option> %>
<%# <%end%> 
<%# </select> %>
<%# </form> %> 